
<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="20px">

<mat-card class="example-card">
    <mat-card-header >
     <h3 style="font-weight: bold;">New User Registration</h3>
    </mat-card-header>
    
    <mat-card-content>
        <form class="example-form" >
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-icon matPrefix>account_circle</mat-icon>
                <mat-label>User Name</mat-label>
                <input matInput >
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-icon matPrefix>lock</mat-icon>
                <mat-label>Password</mat-label>
                <input matInput name="password" type="password">
            </mat-form-field>
            <br>
            <div style="text-align: center;">
            <button  mat-raised-button color="primary">Registration</button>
        </div>
            <br>
            <div class="invalid-login">
                <mat-icon>error_outline</mat-icon>Invalid login credentials.
            </div>
        </form>
    </mat-card-content>

  </mat-card>
</div>