<app-banner></app-banner>
<!--nav.component.html-->
&nbsp;
<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="20px">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>RBI GUIDLINE</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="/assets/images/bank_card2.jpg" alt="Photo of a Shiba Inu" style="margin: 5px;">
    <mat-card-content>
      <p>
        According to the new rules, PAN and Aadhaar will be required for depositing cash of Rs 20 lakh or
        more in a bank or post office in any one financial year. The Central Board of Direct Taxes (CBDT)
        has issued new rules under the Income Tax (15th Amendment) Rules, 2022.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Know More</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Diwali Offers</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/images/bank_card1.jpg" alt="Photo of a Shiba Inu" style="margin: 5px;">
    <mat-card-content>
      <p>
        The country is celebrating Diwali this week, giving an opportunity to customer by offering discounts
        on a range of items from jewellery - smartphones.Customers can get cash back offers up to Rs 2,500
        on every purchase on e-commerce sites such as Flipkart and Amazon.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Know More</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Open Account</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/images/bank_card3.jpg" alt="Photo of a Shiba Inu" style="margin: 5px;">
    <mat-card-content>
      <p>
        Are you looking to open a zero balance account online? Now, open a digital savings account using Aadhaar
        and PAN Card. The World Bank is a digital zero balance savings account that can be
        opened online by everyone and grow your money with up to 4% interest p.a.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Know More</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Credit Cards</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/images/bank_card4.jpg" alt="Photo of a Shiba Inu" style="margin: 5px;">
    <mat-card-content>
      <p>
        The World Bank credit cards comes with huge offers on bill payments, dining, shopping, travel etc. Apart
        from that you can also get your annual fee reversed on a specific credit card spending.
        Rewardz program help you save on your monthly expenses.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Know More</button>
    </mat-card-actions>
  </mat-card>
</div>
&nbsp;