<mat-tab-group dynamicHeight>
    <mat-tab label="Savings Account">
        <div fxLayout="row">    
            <div fxFlex="80" fxFlex.lt-sm="100" class="main-div">
                <div fxLayoutAlign="space-around center" class="profile">
                    <div >
                        <h2>Unlock a full stack of digital Accounts instantly.</h2>
                        <h4>Enjoy an unmatched online banking experience 24x7.</h4>
                    </div>
                    <mat-card class="example-card">
                        <img mat-card-image class="img" src="assets/images/pages/savings.jpg">
                    </mat-card>
                </div>
            </div>
        </div>
        &nbsp;
        <div fxLayout="row">    
            <div fxFlex="80" fxFlex.lt-sm="100" class="main-div">
                <div fxLayoutAlign="space-around " class="profile">
                    <mat-card class="example-card">
                        <img mat-card-image class="img" src="../assets/images/pages/savings.jpg">
                    </mat-card>
                    <div>
                        <h2>Unlock a full stack of digital Accounts instantly.</h2>
                        <h4>Enjoy an unmatched online banking experience 24x7.</h4>
                    </div>           
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Current Account">

    </mat-tab>
</mat-tab-group>