<div id="body">
    &nbsp;
    <div fxLayoutAlign="center center">
        <h2 id="heading">About Us</h2>
    </div>
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="20px">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>History</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                The World Bank was formed in 1955 at the initiative of the World Bank, the Government of India and
                representatives
                of Indian industry. The principal objective was to create a development financial institution for
                providing
                medium-term and long-term project financing to Indian businesses. The World Bank was originally promoted
                in 2023 by Kalinga Limited, an Indian financial institution, and was its wholly-owned subsidiary.
            </mat-card-content>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Kalinga Group Companies</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                The World Bank offers a wide range of banking products and financial services to corporate and
                retail customers through a variety of delivery channels and through its group companies.
            </mat-card-content>
        </mat-card>
    </div>
    &nbsp;
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="20px">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Board of Directors</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                The World Bank's Board members include eminent individuals with a wealth of experience in international
                business,
                management consulting, banking and financial services., <br>
                Mr. Sanjay Kumar<br>
                Non-Executive (part-time) Chairman
                <hr>
                Mr. Lakshman Mandal<br>
                Managing Director & CEO
            </mat-card-content>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Investor Relations</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                All the latest, in-depth information about The World Bank's financial performance and business
                initiatives.
                The The World Bank website serves as a key investor awareness facility, allowing stakeholders to access
                information
                on The World Bank at their convenience.
            </mat-card-content>
        </mat-card>
    </div>
    &nbsp;
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="20px">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Corporate Social Responsibility</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                The World Bank is deeply engaged in human and economic development at the national level.
                The Bank works closely with The World Foundation across diverse sectors and programs.
            </mat-card-content>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>The World Bank Internet Banking</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                The World Bank Internet Banking- the fastest and most convenient way to reach ICICI Bank.
                Get your internet banking ID and Password today to <a id="login_link" (click)="openDialog()">login
                    now</a>.
            </mat-card-content>
        </mat-card>
    </div>
    &nbsp;
</div>