.profile-image{
    vertical-align: middle;  
    margin-right: 5px; 
    border-radius: 50%;
}
.profile {
    background-color: blueviolet;
    color: white;
    padding: 5px;
}

.profile a {
    color: white;
    margin-left: 10px;
}

.profile a:hover {
    background-color: #ccc;
    color: white;
}

.main-div{
    padding: 5px;
     background-color: beige; 
     height: 500px;
}