<div fxLayout="row">
  <div fxFlex="10" fxHide.lt-sm></div>
  <div fxFlex="80" fxFlex.lt-sm="100" class="main-div">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="profile">
      <div>
        <img src="/assets/images/profile.jpg" width="40px" height="auto"
          class="profile-image">
        <span>Welcome back, Ram!</span>
      </div>
      <div>
        <span>Total Balance:</span>&nbsp;
        <span style="font-size: 16px">&#8377;12323.00</span>
        <a mat-button href="#">Log Out</a>
      </div>
    </div>
    <mat-tab-group>
      <mat-tab label="First"> Content 1 </mat-tab>
      <mat-tab label="Second"> Content 2 </mat-tab>
      <mat-tab label="Third"> Content 3 </mat-tab>
      <mat-tab label="Four"> Content 4 </mat-tab>
    </mat-tab-group>
  </div>
  <div fxFlex="10" fxHide.lt-sm> </div>
</div>