<mat-toolbar color="primary" class="menubar-text-color">
  <img routerLink="home" src="/assets/images/bank_logo.jpg" width="40px" height="auto" /> &nbsp;
  <span id="title-text"><a routerLink="home">The World Bank</a></span>

  <div fxShow="true" fxHide.lt-md="true">
    <!-- The following menu items will be hidden on both SM and XS screen sizes -->
    <a routerLink="home" mat-button>Home</a>
    <button mat-button [matMenuTriggerFor]="products" style="color: white;">Products<mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #products="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="accounts">Accounts</button>
      <button mat-menu-item [matMenuTriggerFor]="loans" routerLink="personal-loan">Loans</button>
      <button mat-menu-item [matMenuTriggerFor]="cards">Cards</button>
    </mat-menu>
    <mat-menu #accounts="matMenu">
      <button mat-menu-item routerLink="savings-account">Saving Account</button>
      <button mat-menu-item routerLink="current-account">Current Account</button>
    </mat-menu>
    <mat-menu #loans="matMenu">
      <button mat-menu-item routerLink="personal-loan">Personal Loan</button>
      <button mat-menu-item routerLink="personal-loan">Home Loan</button>
      <button mat-menu-item routerLink="personal-loan">Car Loan</button>
      <button mat-menu-item routerLink="personal-loan">Business Loans</button>
    </mat-menu>
    <mat-menu #cards="matMenu">
      <button mat-menu-item>Debit Cards</button>
      <button mat-menu-item>Credit Cards</button>
    </mat-menu>
    <a routerLink="aboutUs" mat-button>About Us</a>
    <a routerLink="career" mat-button>Career</a>
  </div>
  <span class="example-spacer"></span>
  <div fxShow="true" fxHide.lt-md="true">
    <!-- The following menu items will be hidden on both SM and XS screen sizes -->
    <a mat-button routerLink="contact-us">Contact Us<mat-icon>contact_support</mat-icon></a>
    <a *ngIf="!isUserLoggedIn;else other_content" (click)="openDialog()"
      mat-button>Login<mat-icon>account_circle</mat-icon></a>
    <!-- <ng-template #other_content>Hi, {{loggedInUserName}}</ng-template> -->
    <ng-template #other_content>
      <button mat-button [matMenuTriggerFor]="profile" style="color: white;">Hi,
        {{loggedInUserName}}<mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #profile="matMenu">
        <button mat-menu-item routerLink="dashboard">Your Account</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </ng-template>
  </div>
  <div fxShow="true" fxHide.gt-sm="true">
    <a (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </a>
  </div>
</mat-toolbar>
<app-progress-spinner-dialog></app-progress-spinner-dialog>
<mat-sidenav-container fxFlexFill class="example-container">
  <mat-sidenav #sidenav fxLayout="column">
    <div fxLayout="column">
      <a (click)="sidenav.toggle()" mat-button>Close</a>
      <a routerLink="home" mat-button>Home</a>
      <button mat-button [matMenuTriggerFor]="products">Products<mat-icon>arrow_drop_down</mat-icon></button>
      <a routerLink="career" mat-button>Career</a>
      <a mat-button routerLink="contact-us">Contact Us</a>
      <button *ngIf="!isUserLoggedIn;else other_content1" (click)="openDialog()"
        mat-button>Login<mat-icon>account_circle</mat-icon></button>
      <ng-template #other_content1>
        <button mat-button [matMenuTriggerFor]="profile1">Hi, {{loggedInUserName}}<mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #profile1="matMenu">
          <button mat-menu-item routerLink="dashboard">Your Account</button>
          <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
      </ng-template>
    </div>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" class="footer">
  <div>
    <ul class="pink">
      <div class="footer-title">About Us</div>
      <li>Overview</li>
      <li>Investor Relations</li>
      <li>RBI Awarness Program</li>
      <li>Career</li>
      <li>TWB Answers</li>
      <li>Corporate Governance</li>
    </ul>
  </div>
  <div>
    <ul class="pink">
      <div class="footer-title">Explore Products</div>
      <li>Current Account</li>
      <li>Personal Loan</li>
      <li>Home Loan</li>
      <li>Car/Bike Loan</li>
      <li>Internet Banking</li>
      <li>Mobile banking</li>
    </ul>
  </div>
  <div>
    <ul class="pink">
      <div class="footer-title">Calculator</div>
      <li>FD Calculator</li>
      <li>Recurring Diposite Calculator</li>
      <li>Loan Calculator</li>
      <li>EMI Calculator</li>
      <li>SIP Calculator</li>
      <li>PPF Calculator</li>
    </ul>
  </div>
  <div>
    <ul class="pink">
      <div class="footer-title">Customar Services</div>
      <li>Customar Care</li>
      <li>Notice Board</li>
      <li>Online Assist</li>
      <li>Write To Us</li>
      <li>FAQs</li>
      <li routerLink="contact-us">Contact-Us</li>
    </ul>
  </div>
</div>