<mat-tab-group dynamicHeight>
    <mat-tab label="Personal Loan">
      <div class=" mat-elevation-z4">
        1st
      </div>
    </mat-tab>
    <mat-tab label="Home Loan">
      <div class="mat-elevation-z4">
        Large content
      </div>
    </mat-tab>
    <mat-tab label="Car Loan">
        <div class=" mat-elevation-z4">
          Small content
        </div>
      </mat-tab>
      <mat-tab label="Business Loan">
        <div class="mat-elevation-z4">
          Small content
        </div>
      </mat-tab>
  </mat-tab-group>
  