&nbsp;
<div flex fxLayout="row" fxLayoutAlign="center center">
    <mat-card>
        <form [formGroup]="resetPwdForm" autocomplete="off" novalidate (ngSubmit)="resetPassword(resetPwdForm.value)">
            <mat-card-content>
                <div fxLayoutAlign="center center" fxLayout.lt-sm="column"><h3>Reset Password</h3></div>
                <div fxLayoutAlign="center center" fxLayout.lt-sm="column">
                <div fxFlexOffset="2">
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput type="email" formControlName="email" />
                        <mat-error *ngIf="hasError('email', 'required')">Please Enter Your Email</mat-error>
                        <mat-error *ngIf="hasError('email', 'email')">Please Enter a Valid Email</mat-error>
                    </mat-form-field>
                </div>
                <div fxFlexOffset="2">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Mobile Number" formControlName="contact"
                            id="mobNum">
                        <mat-error *ngIf="hasError('contact', 'required')">Mobile Number is required</mat-error>
                        <!-- <mat-error *ngIf="hasError('mobNum', 'maxlength')">You have more than 10 characters
                        </mat-error>
                        <mat-error *ngIf="hasError('mobNum', 'minlength')">Enter 10 Digit Number
                        </mat-error> -->
                    </mat-form-field>
                </div>
            </div>
            </mat-card-content>
            <div fxLayoutAlign="center center" fxLayout.lt-sm="column">
                <div fxFlexOffset="2">
                    <mat-card-actions>
                        <button mat-raised-button color="primary" [disabled]="!resetPwdForm.valid">Reset Password</button>
                        &nbsp; &nbsp;<button type="button" mat-raised-button color="warn"
                            (click)="onCancel()">Cancel</button>
                    </mat-card-actions>
                </div>
            </div>
        </form>
        <div>
            <mat-card>
                <mat-card-content>
                    <h2>{{recoveredPassword}}</h2>
                </mat-card-content>
            </mat-card>
        </div>
        
    </mat-card>
</div>